
body {
  font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    min-width:  100px;
    justify-content: space-evenly;
}

.item{
    

}
#imageplaceholder{
  height: 125px;
  width: 300px;
  background-color: #908080;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{


}
